# Python bytecode
*.pyc
__pycache__/

# macOS system files
.DS_Store

# Visual Studio Code settings
.vscode/

# Log files
*.log

# Environment settings (add if you have config files you want to ignore)
.env
config.json

# Temporary and backup files
*.bak
*.swp
